* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background1.jpg);
  background-repeat: no-repeat;
}
h2 {
  font-size: 24px;
  text-align: justify;
  color: #d02626;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li {
  margin: 50px;
  gap: 20px;
}
p {
  color: rgb(5, 5, 89);
  text-align: justify;
  font-size: 20px;
  margin: 20px;
}
.img-1 {
  width: 200px;
  margin: 20px;
  border-color: #350fbe;
  border-radius: 10px;
}
.img-2 {
  width: 200px;
  margin: 20px;
  border-bottom: #350fbe;
  border-radius: 10px;
}
.gal-1 {
  color: #350fbe;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}
.section-1 p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.section-2 p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

  