* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/background1.jpg);
    background-size: cover;
}
header h1 {
    color: rgb(40, 40, 138);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    background-color: antiquewhite;
    padding: 20px;
}
ul li {
    margin: 30px;
}
.section-1 p {
    color: rgb(53, 2, 2);
    font-size: 24px;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
section h2 {
color: cornflowerblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
text-align: center;
}
.section-2 p {
    color: rgb(54, 45, 32);
    font-size: 24px;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
.section-3 p {
    color: rgb(86, 2, 2);
    font-size: 24px;
    font-style: oblique;
    padding: 20px;
}
h2 {
  font-size: 24px;
  text-align: justify;
  color: #d02626;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
  color: rgb(5, 5, 89);
  text-align: justify;
  font-size: 20px;
  margin: 20px;
}
.img-1 {
  width: 200px;
  margin: 20px;
  border-color: #350fbe;
  border-radius: 10px;
}
.img-2 {
  width: 200px;
  margin: 20px;
  border-bottom: #350fbe;
  border-radius: 10px;
}
.section-1 p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.section-2 p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}