* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/background1.jpg);
    background-size: cover;
}
/* header image style */
.header {
  height: 400px;
  overflow: hidden;
}
.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #ffffe0;
}
li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: #fffacd;
}
/* shared pages ul */
.pages .ul-1 {
     list-style-type: none;
     margin: 0;
     padding: 5px;
}
/* Style the content */
.content {
  margin-top: auto;
  margin-left: 100px;
  padding-left: 50px;
}
/* shared pages styles */
.pages .section-1, 
.pages .section-2, 
.pages p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* index styles */
.index .section-1, 
.index .section-2, 
.index p {
    color: rgb(53, 2, 2);
    font-size: 24px;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
section h2 {
color: cornflowerblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
text-align: center;
}
h2 {
  font-size: 24px;
  text-align: justify;
  color: #d02626;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
  color: rgb(5, 5, 89);
  text-align: justify;
  font-size: 20px;
  margin: 20px;
}
.img-1 {
  width: 200px;
  margin: 20px;
  border-color: #350fbe;
  border-radius: 10px;
}
.img-2 {
  width: 200px;
  margin: 20px;
  border-bottom: #350fbe;
  border-radius: 10px;
}
